<div class="ui main text container">

  <div class="ui right floated main menu">
    <a class="bug popup icon item" data-content="Edit This Page" ng-click="showEdit = !showEdit">
      <i class="edit icon"></i>
      Edit
    </a>

    <a class="bug popup icon item" data-content="Add A Place" ng-click="showAddPlace = !showAddPlace">
      <i class="add circle icon"></i>
      Add Place
    </a>
  </div>

  <h1>{{vm.city.name}}</h1>
  <p>{{vm.city.description}}</p>


  <ui-view></ui-view>

  <h2>Cool places in {{vm.city.name}}</h2>
  <div class="ui three column grid">
    <div class="column" ng-repeat="place in vm.city.places track by place.id">
      <place-card name="place.name" description="place.description" id="place.id" />
    </div>
  </div>

  <br>
  <edit-city ng-show="showEdit"></edit-city>
  <div ng-include="'places/new.html'" ng-show="showAddPlace"><div>

</div>
